<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="navbar bg-base-100">
        <div class="flex-1">
            <a class="btn btn-ghost normal-case text-xl" href="/">Lego Collection</a>
        </div>
        <div class="navbar-center flex">
            <ul class="menu menu-horizontal px-1">
                <li><a class="active" href="/about">About</a></li>
                <li>
                    <details>
                        <summary>Theme</summary>
                        <ul class="p-2 bg-base-100 right-0">
                          <li><a href="/lego/sets?theme=Technic">Technic</a></li>
                          <li><a href="/lego/sets?theme=Classic Town">Classic Town</a></li>
                          <li><a href="/lego/sets?theme=Lion Knights">Lion Knights</a></li>
                        </ul>
                    </details>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="container mx-auto">
        <div class="hero bg-base-200 rounded-lg p-6">
            <div class="hero-content text-center">
                <div class="max-w-md">
                    <h1 class="text-5xl font-bold">About</h1>
                    <p class="py-6">Unveiling the Unchanged Me.</p>
                </div>
            </div>
        </div>
        <br />
        
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <div>
                <img class="w-full rounded-lg" src="https://images.unsplash.com/photo-1696395160399-ca8f4884e7ef?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2072&q=80" alt="Scene" /> 
            </div>
            <div class="prose">
                <p>My name is Leo Ru. Having pursued a diploma in computer programming, I have gained proficiency in server operating systems such as Windows, UNIX, and Linux. My coursework at Seneca has provided me with a strong foundation in database technologies, and a variety of development tools and programming languages. I have successfully completed projects encompassing web development (HTML5, CSS3, JavaScript), relational database design (using Oracle SQL Developer), and Agile software development (C/C++), with thorough testing to ensure reliable solutions. Proficiency in Microsoft Office applications, including Word, Excel, PowerPoint, Outlook, Visual Studio and SharePoint, equips me to develop project documents and presentations effectively.</p>
            </div>
        </div>
    </div>
</body>
</html>
