<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lego Collection</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <%- include('partials/navbar',{page: '/home'}) %>
    <!-- ================================================= -->
    <div class="container mx-auto">
      <div class="hero bg-base-200 rounded-lg p-6">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">Welcome</h1>
            <p class="py-6">Building Dreams, One Brick at a Time.</p>
            <button class="btn btn-primary">
              <a href="/lego/sets">Start Now!!</a>
            </button>
          </div>
        </div>
      </div>
      <br />
      <div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            <div class="card w-96 bg-base-100 shadow-xl">
                <figure>
                  <img class="w-full" src="https://cdn.rebrickable.com/media/sets/001-1.jpg" alt="Technic" />
                </figure>
                <div class="card-body">
                  <h2 class="card-title">Gears</h2>
                  <p>This set was released in America (USA/CAN) by Samsonite in 1965. It was re-released in 1969 as an educational set (322-4). It was never released in Europe.</p>
                  <div class="card-actions justify-end">
                    <button class="btn btn-primary"><a href="/lego/sets/001-1">View</a></button>
                  </div>
                </div>
              </div>
              <div class="card w-96 bg-base-100 shadow-xl">
                <figure>
                  <img class="w-full" src="https://cdn.rebrickable.com/media/sets/028-1.jpg" alt="Shoes" />
                </figure>
                <div class="card-body">
                  <h2 class="card-title">Nursery Furniture</h2>
                  <p>Classic Duplo set - create a nursery for your minis.</p>
                  <div class="card-actions justify-end">
                    <button class="btn btn-primary"><a href="/lego/sets/028-1">View</a></button>
                  </div>
                </div>
              </div>
              <div class="card w-96 bg-base-100 shadow-xl">
                <figure>
                  <img class="w-full" src="https://cdn.rebrickable.com/media/sets/0011-3.jpg" alt="Shoes" />
                </figure>
                <div class="card-body">
                  <h2 class="card-title">Castle 2 for 1 Bonus Offer</h2>
                  <p>There are 2 unique sets in this inventory.</p>
                  <div class="card-actions justify-end">
                    <button class="btn btn-primary"><a href="/lego/sets/0011-3">View</a></button>
                  </div>
                </div>
              </div>
         
            
          </div>
      </div>
    </div>
    <!-- ------------------------------------------------------------------------------------------- -->
   
  </body>
</html>
